*{
   margin: 0px;
   font-family: "Inter Tight", sans-serif;
}

#logo{
    margin-left: 75px;
    margin-top: 50px;
}

#title-menusuperior{
    color: aliceblue;
    margin-left: 150px;
    margin-top: 50px;
    
}

#texto-menusuperior{
    color: aliceblue;
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menusuperior{
    background-color: black;
    background-image: url(imagens/fundo-menusuperior.svg);
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;      
    grid-auto-flow: column;
    columns: auto;
    margin: 50px 25px 50px 100px;
}
.texto-informativo{
    display: flex;
    align-items: center;
}
#titulo-video{
    color: #247BA0;
}

#texto-video{
    color: #383838;
    margin-top: 50px;
}

#carrosel{
    background-color: #247BA0;
    padding: 50px;
}

#titulo-carrosel{
   color: white;
   text-align: center;
   font-size: 25px;
}

#div-cards{
    
    display: grid;      
    grid-auto-flow: column;
}

.card{
    margin-top: 25px;
    margin-left: 25px;
}

#seta-esquerda{
    display: none;
}

#bruna{
    display: none; 
}

.seta{
    margin-top: 55px;
    cursor: pointer;
}

.seta:hover{
    transform:translateY(-7px);
    transition: 0.5s;
}

#formulario{
  text-align: center;

}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: rgba(56, 56, 56, 1);
}


#formulario{
    
}

input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(234, 236, 229, 1);
    margin: 15px;
    border: 0px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0px 15px 20px #0a2d3c;
    transition-duration: 0,5s;
}
